<div class="container my-5">
  <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
  <%= link_to 'go back', restaurants_path %>
  <h2>
    <%= pluralize @restaurant.reviews.size, "review" %>
  </h2>

  <div data-controller="insert-in-list">
    <div id="reviews" data-insert-in-list-target="items">
      <% if @restaurant.reviews.blank? %>
        Be the first to leave a review for <%= @restaurant.name %>
      <% else %>
        <% @restaurant.reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      <% end %>
    </div>

    <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
  </div>
</div>
